@import "../sizing";


#login__main
{ overflow-y: auto; }

#login__main > canvas
{ vertical-align:bottom; }


#login__overlay-wrapper
{
    width: 100%;
    // background-color: yellow;

    @include md {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 50%;
        height: auto;
        // 390px
    }

    @include lg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 39%;
        height: auto;
    }

    @include xl {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 32%;
        height: auto;
    }

    @include xxl {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 28%;
        height: auto;
    }
}

#login__overlay-wrapper >
#login__back-drop-bg,
#login__back-drop-fg,
#login__content-area
{
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include md {
        border-radius: .75rem;
    }

    @include lg {
        border-radius: .75rem;
    }

    @include xl {
        border-radius: .75rem;
    }
}

#login__svg-design-0,
#login__svg-design-1
{
    position: absolute;
    bottom: 0;

    @include md {
        border-bottom-left-radius: .75rem;
        border-bottom-right-radius: .75rem;
    }

    @include lg {
        border-bottom-left-radius: .75rem;
        border-bottom-right-radius: .75rem;
    }

    @include xl {
        border-bottom-left-radius: .75rem;
        border-bottom-right-radius: .75rem;
    }
}



$ice-cold-white: rgba(255, 254, 254, 0.2);

#login__overlay-wrapper >
#login__back-drop-bg
{
    filter: blur(10px);
    background-color: $ice-cold-white;
    z-index: 1;
}

#login__overlay-wrapper >
#login__back-drop-fg
{
    backdrop-filter: blur(3px);
    z-index: 2;
}




#login__overlay-wrapper >
#login__content-area
{
    height: 100vh !important;

    z-index: 100;
    overflow-y: auto !important;

    @include md
    { height: auto !important; }

    @include lg
    { height: auto !important; }

    @include xl
    { height: auto !important; }

    @include xxl
    { height: auto !important; }
}


#login__dict-icon
{
    width: 3.4rem;
    border-radius: 25%;
}

#login__vr
{ width: 2px; }

#login__dict-brand
{
    // font-family: Quicksand !important;
    font-weight: 600;
    font-size: 1.6rem;
}

#login__dict-model{
    // font-family: Quicksand !important;
    font-weight: 600;
    font-size: .8rem;
}

#login__signin-label
{
    // font-family: Quicksand !important;
    font-weight: 400;
    font-size: 1.2rem;
}



.input-group,
#login__btn-wrapper
{
    border-radius: 50rem;
    @include md {
        border-radius: 0.375rem;
    }
}

#login__btn-wrapper >
button
{
    border-radius: inherit;
}

.input-group >
.input-group-text
{
    z-index: 5;

    min-width: 2.6em;
    min-height: 100%;

    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border: none;

    background-color: transparent !important;
}

.input-group >
.form-control
{
    z-index: 0;

    padding-left: 2.6em;

    border-radius: inherit !important;
    border: none;
}

.login__social-icon-wrapper
{
    position: relative;
    padding-top: 2.5rem;
    width: 2.5rem;
    background-color: white;
}

.login__social-icon-wrapper >
.login__social-icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.9rem; }
